
body{
    background-image: url("../../img/sfondo.jpg");
    background-size: 100%;
}

h1{
    margin: auto;
    margin-top: auto;
    width: fit-content;
    margin-top: 40vh;
    color: violet;
    font-size: xxx-large;
    font-weight: bold;
    background: rgb(0,0,0);
    font-family: courier;
    padding: 1rem;
    padding-top: 1.5rem;
}

div{
    height: 50vh;
}

